:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  transition: all 0.5s;
}

.container {
  margin: 0;
  justify-content: center;
  text-align: center;
}

input,
select,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

form {
  display: inline-block;
  width: 25em;
  margin: 0 auto;
}

label {
  display: inline-block;
  width: 6em;
  padding: 0.5em;
  /* background-color: #b87a23; */
  border-radius: 4px;
}

input {
  width: 4em;
  text-align: right;
}

input.checkbox {
  width: auto;
  margin-left: 1.5em;
}

input.path {
  text-align: left;
  width: 15em;
}

input:focus,
select:focus {
  box-shadow: 0 0 0 2px #396cd8;
}

span {
  margin: 0 0.5em;
}

span.wave {
  margin: 0 1em;
}

div.row {
  margin: 1em auto;
  text-align: left;
}

div.separator {
  margin: 1em auto;
  border-bottom: 1px solid #0f0f0f;
  width: 100%;
}

button {
  width: 7em;
  margin: 1em 0;
  padding: 0.5em 1.5em;
  /* font-size: 1.2em; */
  /* font-weight: bold; */
  background-color: #396cd8;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  select,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }

  div.separator {
    border-color: #6d6d6d;
  }

  button {
    background-color: #396cd8;
  }

  button:hover {
    border-color: #24c8db;
  }
}
